* {
  box-sizing: border-box;
}


body,
main {
  height: 100%;
  margin:0px;
  background-color: #470250;
  color: #fff;
  font-family: Verdana, sans-serif;
}

#homehero {
  height: 250px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#homehero {
  background-image: url("images/smart-farming-with-agriculture-iot.jpg");
}

link a{
  color:#fff;
}